[submodule "themes/zozo"]
  path = themes/zozo
  url = https://github.com/no-sky/hugo-theme-zozo.git
[submodule "themes/leavelt"]
  path = themes/leavelt
  url = https://github.com/no-sky/LeaveIt.git
